<!DOCTYPE HTML> 

<!-- Bucket list web application home / landing page. --> 

<html> 
	<head> 
		<!-- Need to come up with a catchier title. -->
		<title> Dream It, Achieve It, Live It </title> 
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/homepage.css') }}" />
	</head>

	<body>
		<!-- Header -->

		<div class="header">
			<a href="#default" class="logo">resfeber</a>
			<div class="header-right">
			  <a class="active" href="#home">Home</a>
			</div>
		  </div>

	</body>
</html>
